<div>
	<div>
		<h2>ジャンル別</h2>
		<div>
			<% @products.each do |product| %>
				<%= attachment_image_tag product, :photo, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
				<p>タイトル</p>
				<%= product.title %>

				<p>アーティスト</p>
				<%= product.artist.artist_name %>

				<p>ジャンル</p>
				<%= product.genre.genre_name %>

				<p>価格</p>
				<%= product.price %>
		</div>
	</div>
</div>