<%= render "end_user/search" %>
<div class="container">
  <div class="row">
  	<div class="col-sm-2">
  	</div>
  	<div class="col-sm-9 col-sm-offset-1">
    	<% @products.each do |product| %>
	      <div class="product-content clearfix">
	      	<div class="p-photo">
			      <div class="field">
			        <%= attachment_image_tag product, :photo, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%> </br>
			      </div>
			    </div>
			    <div class="p-detail">
			      <div class="field">
			        <span>タイトル</span>
			        <%= product.title %>
			      </div>

			      <div class="field">
			        <span>アーティスト</span>
			        <%= product.artist.artist_name %>
			      </div>

			      <div class="field">
		          <span>価格(税込)
		           <%= product.price %> 円</span>
		        </div>
		      </div>
		    </div>
		  <% end %>
	    <%= paginate @products, class: "paginate" %>
	  </div>
	</div>
</div>