<div class="container">
	<div class="row">
		<%= render "side", genres: @genres, themes: @themes %></br>
		<h1 class="text-center">フィーリング別</h1>
		<div class="wrapper grid col-sm-8 col-sm-offset-1">
			<% @record_musics.each do |record_music| %>
			  <div class="product-content" onclick="javascript:location.href='<%= end_user_product_path((record_music.disk.product.id))%>'"  style="cursor:pointer">
				  <div class="jake">
						<%= attachment_image_tag record_music.disk.product, :photo, :fill, 100, 100, class: "profile-thumb", fallback: "no_image.png", size:'120x120'%>
					</div>
					<p><%= record_music.theme.theme %></p>
					<p><%= record_music.song_name %></p>
					<p><%= record_music.disk.product.artist.artist_name %></p>
				  <p><%= record_music.disk.product.title %></p>
				  <p>価格(税込)  <%= record_music.disk.product.include_tax %> 円</p>
        </div>
			<% end %>
		</div>
		<div class="row">
      <div class="col-sm-4 col-sm-offset-7">
        <div class="paginate">
          <%= paginate @record_musics, class: "paginate" %>
        </div>
      </div>
   	</div>
  </div>
</div>


<style>

  .wrapper {
    padding: 50px 0;
  }
  .grid {
    display: grid;
    gap: 15px;
    grid-template-columns: 200px 200px 200px 200px;
  }
  .product-content {
    border-bottom: 2px solid #f7f7f7;
  }
  .jake {
    max-width: 100%;
    margin-bottom: 10px;
  }
  p {
    font-size: 12px;
  }
  .paginate {
    justify-content: center;
  }

</style>


