<h1>EndUser::Carts#index</h1>
<p>Find me in app/views/end_user/carts/index.html.erb</p>
<div>
	<div>
		<h2>カート内一覧</h2>

		<div>
			<% total = 0 %>
			<% @end_user.product_in_carts.each do |product_in_cart| %>
			<%= attachment_image_tag product_in_cart.product, :photo, :fill, 50, 50, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>
				<p>Title</p>
					<%= product_in_cart.product.title %>
				<p>アーティスト</p>
					<%= product_in_cart.product.artist.artist_name %>
				<p>個数</p>
					<%= product_in_cart.sheet %>

				<p>価格</p>
					<%= product_in_cart.product.price %>
				<p>小計</p>
					<%= product_in_cart.sheet * product_in_cart.product.price %>

				<%= link_to '削除', end_user_product_cart_path(product_in_cart.product.id, product_in_cart.id), class: "btn btn-danger ", method: :delete  %>

				<% total += product_in_cart.sheet * product_in_cart.product.price %>
			<% end %>
		</div>

		<p>商品小計（税込）</p>
		<%= total %>

		<%= link_to 'ショッピングを続ける',end_user_products_path %>

		<%= link_to '購入手続きへ', new_end_user_cheeck_path %>
	</div>
</div>