<div class="container">
		<h1 class="text-center">カート内一覧</h1>
		<div>
			<% total_price = 0 %>
			<% @end_user.product_in_carts.each do |product_in_cart| %>
				<div class="product-content clearfix">
					<div class="cart">
						<div class="photo">
							<%= attachment_image_tag product_in_cart.product, :photo, :fill, 250, 250, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg", size: "250x250" %>
						</div>
						<div class="tab">
						　<table class="table">
								<tr>
									<th>Title</th><td><%= product_in_cart.product.title %></td>
								</tr>

								<tr>
									<th>アーティスト</th><td><%= product_in_cart.product.artist.artist_name %></td>
								</tr>
								<tr>
									<th>個数</th><td><%= product_in_cart.sheet %></td>
								</tr>
								<tr>
									<th>価格(税込)</th><td><%= product_in_cart.product.price %> 円 <span><%= link_to '削除', end_user_product_cart_path(product_in_cart.product.id, product_in_cart.id), class: "btn btn-danger ", method: :delete  %></span></td>
								</tr>

								</table>

						</div>

						<% total_price += product_in_cart.sheet * product_in_cart.product.price %>
					</div>
				</div>

			<div class="cart-total">
				<p>商品小計（税込）</p><%= total_price %> 円
			</div>

			<div class="btn">
				<%= link_to 'ショッピングを続ける',end_user_products_path , class: "btn btn-default btn-lg center-block" %>
			</div>


			<div class="btn">
				<%= link_to '購入手続きへ', new_end_user_user_path,class: "btn btn-default btn-lg center-block" %>
			</div>
</div>

<style>
	.cart {
		margin-top: 50px;
	}

	.tab {
		float: left;
		margin-left: 150px;
		text-align: center;
		position: relative;
	}

	.cart-total {
		float: right;
		font-size: 30px;
	}

	th, td {
		width: 300px;
		font-size: 30px;
	}

	span {
		position: absolute;
		bottom: 0px;
		right: 0px;
	}


</style>



