<h1 class="text-center">アーティスト名編集</h1>
<div class="container">
    <div class="col align-self-center">
      <% if @artist.errors.any? %>
        <div id="error_explanation">
          <h2><%= @artist.errors.count %> 件のエラーがあります。</h2>
          <ul>
            <% @artist.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form_for(@artist, url: admin_artist_path) do |f| %>
       <div class="field">
          <h2 class="text-center">アーティスト名</h2>
          <h2 class="text-center"><%= f.text_field :artist_name%></h2>%>
        </div>

        <div class="field">
         <h2 class="text-center">
          <%= f.submit "変更", class: "btn btn-default" %>
          <% end %>
         </h2>
        </div>
     </div>
</div>

      <button type="button" class="btn btn-default btn-lg center-block">
         <div class="edit_btn">
          <%= link_to "一覧に戻る", admin_artists_path %></button>
        </div>
      </button>

<style>

.btn{
  margin-bottom: 20px;
}
</style>