<h1 class="text-center">受注詳細</h1>
    <div class="container">
      <h2 class="text-center">お届け先</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align:center;">名前</th>
            <th style="text-align:center;">郵便番号</th>
            <th style="text-align:center;">住所</th>
            <th style="text-align:center;">電話番号</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td align="center">
              <%= @order.send_name %>
            </td>
            <td align="center">
              <%= @order.postal_code %>
            </td>
            <td align="center">
              <%= @order.address %>
            </td>
            <td align="center">
              <%= @order.phone_number %>
            </td>
          </tr>
        </tbody>
      </table>

    <h2 class="text-center">購入内容</h2>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align:center;">タイトル</th>
            <th style="text-align:center;">アーティスト</th>
            <th style="text-align:center;">個数</th>
            <th style="text-align:center;">価格（税込）</th>
          </tr>
        </thead>
        <tbody>
          <% total_price = 0 %>                <!-- ここ! -->
          <% @order.order_details.each do |order_detail| %>
          <tr>
            <td align="center">
              <%= order_detail.product.title %>
            </td>
            <td align="center">
              <%= order_detail.product.artist.artist_name %>
            </td>
            <td align="center">
              <%= order_detail.sheet %>
            </td>
            <td align="center">
              <% price = order_detail.price * order_detail.sheet %>
              <%= price %>
            </td>
          </tr>
          <% total_price = total_price + price %>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;">送料</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center">
                  <%= @order.delivery_charge %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;">購入額（税込）</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td align="center">
                  <%= @order.delivery_charge + total_price %>円
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
    </div>



  <style>
  </style>