<h1 class="text-center">ログイン</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <h2 class="text-center">
    <%= f.label :メールアドレス %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <h2>
  </div>

  <div class="field">
    <h2 class="text-center">
    <%= f.label :パスワード %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
    </h2>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <h2 class="text-center">
      <%= f.check_box :remember_me %>
      <%= f.label :ログイン情報を保持 %>
    </h2>
    </div>
  <% end %>

  <div class="actions">
    <h2 class="text-center">
    <%= f.submit "ログイン" %>
  </h2>
  </div>
<% end %>
<div class="actions">
<%= render "admins/shared/links" %>
</div>
