<div class="nested-fields well well-compact" >
	<h4>収録ディスク</h4>
	<div class="form-group">
    <%= f.label :disk_number %>
    <%= f.number_field :disk_number %><br>
    <%= link_to_remove_association "ディスク削除 task", f, class: "btn btn-danger" %>
  </div>

	<div class="record_musics">
		<%= f.fields_for :record_musics do |record_music| %>
	    <%= render 'record_music_fields', f: record_music %>
  	<%end%>
  	<div class="links">
    	<%= link_to_add_association "トラック追加", f, :record_musics, class: "btn btn-info" %>
  	</div>
  </div>
</div>

