<div class="nested-fields well well-compact" >
	<h2 class="text-center">収録ディスク</h2>
	<h3 class="text-center form-group">
    <%= f.label :disk_number %>
    <%= f.number_field :disk_number,min: 1, max: 10 %>
    <%= link_to_remove_association "ディスク削除", f, class:"destroy_btn btn btn-danger btn-lg center-block"%>
  </h3>

	<div class="record_musics">
		<%= f.fields_for :record_musics do |record_music| %>
	    <%= render 'record_music_fields', f: record_music %>
  	<% end %>
    <div class="destroy_btn btn btn-info btn-lg center-block">
    	<%= link_to_add_association "トラック追加", f, :record_musics %>
  	</div>
  </div>
</div>


