<div class="nested-fields well well-compact" >
  <h4 class="text-center">収録ディスク</h4>
  <div class="form-group" align="center">
    <%= f.label :disk_number, "ディスクNo." %>
    <%= f.number_field :disk_number, min: 1, max: 10  %><br>
    <%= link_to_remove_association "ディスク削除", f, class: "btn btn-danger" %>
  </div>

  <div class="record_musics" align="center">
    <%= f.fields_for :record_musics do |record_music| %>
      <%= render 'record_music_fields', f: record_music %>
    <% end%>
    <div class="links">
      <%= link_to_add_association "トラック追加", f, :record_musics, class: "btn btn-info" %>
    </div>
  </div>
</div>