<%= form_for product, url: admin_products_path do |f| %>
  <div class="field">
    <%= f.label :photo, "ジャケット写真" %> </br>
    <%= attachment_image_tag product, :photo, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%> </br>
    <%= f.attachment_field :photo, class: "user-edit-form" %>
  </div>
  <div class="field">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control"%>
  </div>

  <div class="field btn-group">
    <%= f.label :artist_name, "アーティスト" %>
    <%= f.collection_select(:artist_id, Artist.all, :id, :artist_name) %>
  </div>
  <div class="field">
    <%= f.label :genre_name, "ジャンル" %>
    <%= f.collection_select(:genre_id, Genre.all, :id, :genre_name) %>
  </div>
  <div class="field">
    <%= f.label :label_name, "レーベル" %>
    <%= f.collection_select(:label_id, Label.all, :id, :label_name) %>
  </div>

  <div class="field">
    <%= f.label :price, "価格" %>
    <%= f.text_field :price, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :sales_status, "ステータス" %>
    <%= f.radio_button :sales_status, :販売中 %> <%= f.label :sales_status, :販売中 %>
    <%= f.radio_button :sales_status, :販売停止中 %> <%= f.label :sales_status, :販売停止中 %>
  </div>
  <div class="record-content">
    <h3>収録内容</h3>
    <div id="disks">
      <%= f.fields_for :disks do |disk| %>
        <%= render 'disk_fields', f: disk %>
      <% end %>
      <div id="links">
        <%= link_to_add_association 'ディスク追加',f, :disks, class: "btn btn-info" %>
      </div>
      <%= f.submit "商品情報登録", class: "btn btn-default" %>
    </div>
<% end %>

