<div class="nested-fields form-inline">
  <div class="form-group">
  	<%= f.label :track_number, "トラックNo." %>
    <%= f.number_field :track_number, min: 1, max:30 %>
    <%= f.label :song_name, "曲名" %>
    <%= f.text_field :song_name %>
    <%= f.label :theme_id, "Feeling" %>
    <%= f.collection_select(:theme_id, Theme.all, :id, :theme) %>
    <%= link_to_remove_association "トラック削除", f, class: "btn btn-danger btn-xs" %>
  </div>
</div>