
<%= render "admin/search" %>
 <div class="container">
  <h1 class="text-center">商品一覧</h1>
        <table class="table">
  	      <thead>
  	        <tr>
  	          <th style="text-align:center;">タイトル</th>
  	          <th style="text-align:center;">アーティスト</th>
  	          <th style="text-align:center;">ジャンル</th>
  	          <th style="text-align:center;">価格(税込)</th>
  	          <th style="text-align:center;">個数</th>
  	          <th style="text-align:center;">在庫状況</th>
  	          <th style="text-align:center;">ステータス</th>
  	        </tr>
  	      </thead>

  	      <tbody>
            <% @products.each do |product| %>
              <% ordersum = 0
                 arrivalsum = 0
                 product.order_details.each do |order_detail|
                 ordersum = order_detail.sheet + ordersum
                end
						    product.arrival_of_goods.each do |arrival_of_good|
						      arrivalsum = arrival_of_good.sheet + arrivalsum
						    end
						    stock = arrivalsum - ordersum
						  %>

                <tr onclick="javascript:location.href='<%= admin_product_path(product)%>'"  style="cursor:pointer">
		              	<td align="center"><%= product.title %></td>
		              	<td align="center"><%= product.artist.artist_name %></td>
		              	<td align="center"><%= product.genre.genre_name %></td>
		              	<td align="center"><%= product.include_tax %> 円 </td>
		              	<td align="center"><%= stock %> 個</td>
		              	<td align="center">
		              		<span>
		              			<% if stock == 0 %>
		              			  売り切れ
		              			<% else %>
		              			　在庫あり
		              			<% end %>
		              		</span>
		              	</td>
		              	<td align="center"><%= product.sales_status %></td>
	              </tr>
               <% end %>
        	</tbody>
        </table>
      <div class="row text-center">
        <%= paginate @products, class: "paginate" %>
      </div>
    </div>

