<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <h1><strong>商品一覧</strong></h1>
​
        <table class="table table-striped">
  	      <thead>
  	        <tr>
  	          <th>タイトル</th>
  	          <th>アーティスト</th>
  	          <th>ジャンル</th>
  	          <th>価格(税込)</th>
  	          <th>個数</th>
  	          <th>在庫状況</th>
  	          <th>ステータス</th>
  	        </tr>
  	      </thead>
​
  	      <tbody>
            <% @products.each do |product| %>
              <% ordersum = 0
                 arrivalsum = 0
                 product.order_details.each do |order_detail|
                 ordersum = order_detail.sheet + ordersum
                end
						    product.arrival_of_goods.each do |arrival_of_good|
						      arrivalsum = arrival_of_good.sheet + arrivalsum
						    end
						    stock = arrivalsum - ordersum
						  %>
​
	            <%= link_to admin_product_path(product) do %>
	              <tr>
		              	<td><%= product.title %></td>
		              	<td><%= product.artist.artist_name %></td>
		              	<td><%= product.genre.genre_name %></td>
		              	<td><%= product.include_tax %> 円 </td>
		              	<td><%= stock %> 個</td>
		              	<td>
		              		<span>
		              			<% if stock == 0 %>
		              			  売り切れ
		              			<% else %>
		              			　在庫あり
		              			<% end %>
		              		</span>
		              	</td>
		              	<td><%= product.sales_status %></td>
	              </tr>
	            <% end %>
            <% end %>
        	</tbody>
        </table>
        <%= paginate @products, class: "paginate" %>
    </div>
  </div>
</div>
折りたたむ



