<h1 class="text-center">新商品追加</h1>

  <div class="container">

    <div class="col align-self-center">
      <% if @product.errors.any? %>
        <div id="error_explanation">
          <h2><%= @product.errors.count %> 件のエラーがあります。</h2>
          <ul>
            <% @product.errors.full_messages.each do |msg| %>
              <li> <%= msg %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>


      <button type="button" class="btn btn-default btn-lg left-block">
       <div class="artist_btn">
       <%= link_to "アーティスト新規登録", new_admin_artist_path %>
        </div>
      </button>

      <button type="button" class="btn btn-default btn-lg left-block">
       <div class="label_btn">
       <%= link_to "レーベル新規登録", new_admin_label_path %>
       </div>
      </button>


      <div class="artist_btn btn btn-default btn-lg left-block">
        <%= link_to "アーティスト新規登録", new_admin_artist_path %>
      </div>
      <div class="label_btn btn btn-default btn-lg left-block">
        <%= link_to "レーベル新規登録", new_admin_label_path %>
      </div>

      <div class="product-content">
        <%= render 'form', product: @product %>



       <button type="button" class="btn btn-default btn-lg center-block">
         <div class="edit_btn">
          <%= link_to "商品一覧に戻る", admin_artists_path %>
         </div>
         </button>


      </div>
      <div class="edit_btn btn btn-default btn-lg left-block" align="center">
        <%= link_to "商品一覧に戻る", admin_products_path %>
      </div>

    </div>
  </div>

<style>


.btn{
  margin-bottom: 20px;
}

</style>

.product-content {
  padding: 20px 0;
}

.btn{
  margin-bottom: 40px;
}

</style>
