<div class="container">
  <div class="row">
    <h2>商品詳細</h2>

    <div class="field">
      <%= attachment_image_tag @product, :photo, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%> </br>
    </div>
    <div class="field">
      <span>タイトル</span>
      <%= @product.title %>
    </div>

    <div class="field">
      <span>アーティスト</span>
      <%= @artist.artist_name %>
    </div>
    <div class="field">
      <span>ジャンル</span>
      <%= @genre.genre_name %>
    </div>
    <div class="field">
      <span>レーベル</span>
      <%= @label.label_name %>
    </div>

    <div class="field">
      <span>価格</span>
      <%= @product.price %>
    </div>

    <div>
      <span>在庫数</span>
      <%= @stock %>
    </div>

    <div class="field">
      <span>ステータス</span>
      <%= @product.sales_status %>
    </div>

    <div class="record-content">
      <% @product.disks.each do |disk| %>
        <h3>収録ディスク</h3>
        <div id="disks">
          <p>ディスクNo. <%= disk.disk_number %> </p>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>曲名</th>
              <th>Feeling</th>
            </tr>
          </thead>
          <tbody>
            <% disk.record_musics.each do |record_music| %>
              <tr>
                <td><%= record_music.track_number %></td>
                <td><%= record_music.song_name %></td>
                <td><%= record_music.theme_id %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>


