<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <h2>商品詳細</h2>

      <div class="field">
        <%= attachment_image_tag @product, :photo, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%> </br>
      </div>
      <div class="field">
        <span class="headind">タイトル</span>
        <%= @product.title %>
      </div>

      <div class="field">
        <span class="headind">アーティスト</span>
        <%= @product.artist.artist_name %>
      </div>
      <div class="field">
        <span class="headind">ジャンル</span>
        <%= @product.genre.genre_name %>
      </div>
      <div class="field">
        <span class="headind">レーベル</span>
        <%= @product.label.label_name %>
      </div>

      <div class="field">
        <span class="headind">価格(税込)</span>
        <%= @product.include_tax %> 円
      </div>

      <div>
        <span>在庫数
          <% if @stock == 0 %>
            在庫がありません
          <% else %>
            残り <%= @stock %> 点
          <% end %>
        </span>
      </div>

      <div class="field">
        <span>ステータス</span>
        <%= @product.sales_status %>
      </div>

      <div class="record-content">
        <h3>収録ディスク</h3>
        <% @product.disks.each do |disk| %>
          <div id="disks">
            <p>ディスクNo. <%= disk.disk_number %> </p>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>トラックNo.</th>
                <th>曲名</th>
                <th>Feeling</th>
              </tr>
            </thead>
            <tbody>
              <% disk.record_musics.each do |record_music| %>
                <tr>
                  <td><%= record_music.track_number %></td>
                  <td><%= record_music.song_name %></td>
                  <td><%= record_music.theme.theme %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
    </div>
  </div>
</div>


