<%= render "end_user/search" %>
<h1 class="text-center">商品詳細</h1>
<div class="container">
  <div class="col-sm-3">

    <div class="col align-self-center">

      <div class="field">
        <%= attachment_image_tag @product, :photo, :fill, 100, 100, class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%> </br>
      </div>
    </div>
  </div>

    <div class="col-sm-9">
      <div class="field">
        <h4 class="headind">タイトル
        <%= @product.title %></h4>
      </div>

      <div class="field">
        <h4 class="headind">アーティスト
        <%= @product.artist.artist_name %></h4>
      </div>

      <div class="field">
        <h4 class="headind">ジャンル
        <%= @product.genre.genre_name %></h4>
      </div>

      <div class="field">
        <h4 class="headind">レーベル
        <%= @product.label.label_name %></h4>
      </div>

      <div class="field">
        <h4 class="headind">価格(税込)
        <%= @product.include_tax %> 円</h4>
      </div>

      <div>
        <span>在庫数
          <% if @stock == 0 %>
            在庫がありません
          <% else %>
            残り <%= @stock %> 点
          <% end %>
        </span>
        <span>/ステータス</span>
        <%= @product.sales_status %>
      </div>

      <div class="record-content">
        <h3>収録ディスク</h3>
        <% @product.disks.each do |disk| %>
          <div id="disks">
            <p>ディスクNo. <%= disk.disk_number %> </p>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;">トラックNo.</th>
                <th style="text-align:center;">曲名</th>
                <th style="text-align:center;">Feeling</th>
              </tr>
            </thead>
            <tbody>
              <% disk.record_musics.each do |record_music| %>
                <tr>
                  <td align="center"><%= record_music.track_number %></td>
                  <td align="center"><%= record_music.song_name %></td>
                  <td align="center"><%= record_music.theme.theme %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
    <button type="button" class="btn btn-default btn-lg center-block">
         <div class="edit_btn">
          <%= link_to "商品一覧に戻る", admin_artists_path %>
         </div>
         </button>
  </div>
</div>


