<div class="search">
  <div class="search-title">検 索</div>
  <div class="search-form">
    <%= render "admin/search" %>
  </div>
</div>
<h1 class="text-center pro-show">商品詳細</h1>
  <div class="container">
  <div class="row">
    <div class="col-sm-3 col-sm-offset-1">
      <div class="field">
        <%= attachment_image_tag @product, :photo, :fill, 250, 250, class: "pull-left profile-thumb", fallback: "no_image.jpg"%> </br>
      </div>
    </div>
    <div class="title-con col-sm-8">
      <div class="title">
        <h4>タイトル:
          <%= @product.title %>
        </h4>
      </div>

      <div class="artist">
        <h4>アーティスト:
          <%= @product.artist.artist_name %>
        </h4>
      </div>
      <div class="genre">
        <h4>ジャンル:
          <%= @product.genre.genre_name %>
        </h4>
      </div>

      <div class="laber">
        <h4>レーベル:
          <%= @product.label.label_name %>
        </h4>
      </div>

      <div class="tax">
        <h4>価格(税込):
          <%= @product.include_tax %> 円
        </h4>
      </div>
      <div class="stock">
        <span>在庫数:
          <% if @stock == 0 %>
            在庫がありません
          <% else %>
            残り <%= @stock %> 点
          <% end %>
        </span>

        <span> / ステータス</span>
        <%= @product.sales_status %>
      </div>
    </div>
    <div class="record-content">
      <h3 class="text-center">収録ディスク</h3>
        <% @disks.each do |disk| %>
          <div id="disks">
            <p class="text-center">ディスクNo. <%= disk.disk_number %> </p>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;">トラックNo.</th>
                <th style="text-align:center;">曲名</th>
                <th style="text-align:center;">Feeling</th>
              </tr>
            </thead>
            <tbody>
              <% RecordMusic.with_deleted.where(disk_id: disk).each do |record_music| %>
                <tr>
                  <td align="center"><%= record_music.track_number %></td>
                  <td align="center"><%= record_music.song_name %></td>
                  <td align="center"><%= record_music.theme.theme %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
      <div class="arrival-content">
        <h3 class="text-center arrival-title">入荷履歴</h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align:center;">入荷日</th>
                <th style="text-align:center;">入荷数</th>
              </tr>
            </thead>
            <tbody>
              <% @product.arrival_of_goods.each do |arrival| %>
                <tr>
                  <td align="center"><%= arrival.arrival_day.strftime("%Y年%m月%d日") %></td>
                  <td align="center"><%= arrival.sheet %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
      <div class="edit_btn" align="center">
        <%= link_to "商品編集", edit_admin_product_path(@product), class: "btn btn-success btn-lg btn-block" %>
      </div>

      <div class="edit_btn" align="center">
        <%= link_to "商品削除", admin_product_path(@product), method: :delete, data: { confirm: "削除しますか？" }, class: "btn btn-danger btn-lg btn-block" %>
      </div>
      <div class="edi_btn" align="center">
        <%= link_to "商品削除", admin_product_path(@product), method: :delete, class: "btn btn-danger btn-lg" %>
      </div>
      <div class="index_btn" align="center">
        <%= link_to "商品一覧に戻る", admin_products_path, class: "btn btn-default btn-lg btn-block" %>
      </div>
    </div>
  </div>


<style>

  #disks {
   margin-top: 38px;
  }

  .pro-show {
    margin-bottom: 60px;
  }

  .btn {
    margin-bottom:20px;
  }

  .title-con {
    padding-left: 80px;
    margin-bottom: 150px;
  }

  .record-content {
    margin-bottom: 80px;
  }

  .arrival-content {
    margin-bottom: 80px;
  }

  .arrival-title {
    margin-bottom: 30px;
  }

  table {
   table-layout: fixed;
   width: 100%;
　}

  .search {
    width: 20%;
    border: solid 2px #fdeff2;
    border-radius: 5px;
    height: 100px;
    margin-top: 3em;
    margin-left: 10em;
  }
  .search .search-title {
    font-size: 18px;
    background: #fdeff2;
    padding: 4px 0 4px 15px;
    color: #606060;
    letter-spacing: 0.05em;
  }
  .search-form {
    padding-top: 20px;
    padding-left: 50px;
  }

</style>
