	<h1 class="text-center">ユーザ情報</h1>
	 <div class="container">
	 	<div class="row">
		  <div class="profile col-sm-9">
		   <table class="table table-bordered">
			 <thead>
			  <tr>
			   <th style="text-align:center;">名前</th>
			   <th style="text-align:center;">カナ</th>
			   <th style="text-align:center;">メールアドレス</th>
			  </tr>
			 </thead>

			 <tbody>
		      <tr>
			   <td align="center">
			   <%= @end_user.kanzi_last_name+@end_user.kanzi_first_name %>
			   </td>
			   <td align="center">
			   <%= @end_user.kana_last_name+""+@end_user.kana_first_name %>
			   </td>
			   <td align="center">
			   <%= @end_user.email %>
			   </td>
			  </tr>
		 	 </tbody>
		    </table>
		   </div>
		</div>

     <h1 class="text-center">住所情報</h1>
      <div class="address col-sm-9">
       <table class="table table-bordered">
		<thead>
		 <tr>
		  <th style="text-align:center;">送り先名前</th>
		  <th style="text-align:center;">郵便番号</th>
		  <th style="text-align:center;">住所</th>
		  <th style="text-align:center;">電話番号</th>
		  <th style="text-align:center;"></th>
		 </tr>
	    </thead>
	    <tbody>
	     <% @end_user.addresses.each do |address|%>
	      <tr>
	       <td align="center"> <%=address.send_name%> </td>
		   <td align="center"> <%=address.postal_code%> </td>
		   <td align="center"> <%=address.address%></td>
		   <td align="center"> <%=address.phone_number%></td>
		   <td align="center"><%= link_to "編集", edit_admin_user_address_path(address) %></td>
	      </tr>
          <%end%>
         </tbody>
        </table>
       </div>

       <div class="btn btn-group">
		  <button class="btn btn-default"><%= link_to"削除", admin_users_path(@end_user),method: :delete %></button>
		  <button class="btn btn-default"><%= link_to"マイページ編集", edit_admin_user_path(@end_user) %></button>
 	      <button class="btn btn-default"><%= link_to"購入履歴", admin_user_orderhistories_path(@end_user.id) %></button>
       </div>
     </div>

<style>
	.profile {
		margin-left: 150px;
	}
	.address{
		margin-left: 150px;
	}
	.btn{
		margin-left: 450px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
</style>
