<h1 class="text-center">ユーザ情報</h1>
	<div class="container">
	 	<div class="row">
		  <div class="profile col-sm-9">
		  <table class="table table-bordered">
			 	<thead>
			  	<tr>
			   		<th style="text-align:center;">名前</th>
			   		<th style="text-align:center;">カナ</th>
			   		<th style="text-align:center;">メールアドレス</th>
			  	</tr>
			 	</thead>
			 	<tbody>
		      <tr>
			   		<td align="center">
			   			<%= @end_user.kanzi_last_name+@end_user.kanzi_first_name %>
			   		</td>
			   		<td align="center">
			   			<%= @end_user.kana_last_name+""+@end_user.kana_first_name %>
			   		</td>
			   		<td align="center">
			   			<%= @end_user.email %>
			   		</td>
			  	</tr>
		 	 	</tbody>
		  </table>
		  </div>
		</div>
    <h1 class="text-center">住所情報</h1>
      <div class="address col-sm-9">
      <table class="table table-bordered">
				<thead>
		 			<tr>
		  			<th style="text-align:center;">送り先名前</th>
		  			<th style="text-align:center;">郵便番号</th>
		  			<th style="text-align:center;">住所</th>
		  			<th style="text-align:center;">電話番号</th>
		  			<th style="text-align:center;"></th>
		 			</tr>
	    	</thead>
	    	<tbody>
	     	<% Address.with_deleted.where(end_user_id: @end_user).each do |address|%>
	      	<tr>
	       		<td align="center"> <%=address.send_name%> </td>
		   			<td align="center"> <%=address.postal_code%> </td>
		   			<td align="center"> <%=address.address%></td>
		   			<td align="center"> <%=address.phone_number%></td>
		   		<% if address.deleted_at.nil? %>
		   			<td align="center"><%= link_to "編集", edit_admin_user_address_path(address) %></td>
		   		<% end %>
	      	</tr>
         <%end%>
      	</tbody>
    	</table>
      </div>
      <div class="btn btn-group">
      <% if @end_user.deleted_at.nil? %>
			  <%= link_to"削除", admin_user_path(@end_user),method: :delete, class:"btn btn-default" %>
				<%= link_to"マイページ編集", edit_admin_user_path(@end_user), class:"btn btn-default" %>
			<% end %>
 				<%= link_to"購入履歴", admin_user_orderhistories_path(@end_user.id), class:"btn btn-default" %>
      </div>
  </div>

<style>
	.profile {
		margin-left: 150px;
	}
	.address{
		margin-left: 150px;
	}
	.btn{
		margin-left: 450px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
</style>
