<h1 class="text-center">マイページ</h1>
<div class="container">
 <div class="profile">
  <table class="table table-bordered">
		<thead>
		<tr>
		    <th style="text-align:center;">名前</th>
			<th style="text-align:center;">カナ</th>
			<th style="text-align:center;">メールアドレス</th>
		</tr>
	    </thead>

	    <tbody>

			<tr>
				<td align="center">
					<%= current_end_user.kanzi_last_name+current_end_user.kanzi_first_name %>
				</td>
				<td td align="center">
					<%= current_end_user.kana_last_name+""+current_end_user.kana_first_name %>
				</td>
				<td align="center">
					<%= current_end_user.email %>
				</td>
			</tr>
 	    </tbody>
     </table>
 </div>
	 <button type="button" class="btn btn-default btn-lg center-block">
	 <div class="edit_btn">
	 	<%= link_to"マイページ編集", edit_end_user_user_path(current_end_user) %></div>
     </button>




  <h1 class="text-center">住所情報</h1>
  <div class="profile">
    <table class="table table-bordered">
		<thead>
		<tr>
			<th style="text-align:center;">送り先名前</th>
			<th style="text-align:center;">郵便番号</th>
			<th style="text-align:center;">住所</th>
			<th style="text-align:center;">電話番号</th>
			<th style="text-align:center;"></th>
		</tr>
	    </thead>

	    <tbody>
	       <% current_end_user.addresses.each do |address|%>
	        <tr>
	        <td align="center"> <%=address.send_name%> </td>
		    <td align="center"> <%=address.postal_code%> </td>
		    <td align="center"> <%=address.address%></td>
			<td align="center"> <%=address.phone_number%></td>
			<td align="center"><%= link_to "編集", edit_end_user_address_path(address) %></td>
	        </tr>
          <%end%>
         </tbody>
    </table>
  </div>
   <div class="btn-group btn-group-justified" role="group">

    <div class="btn-group" role="group">
 	<button class="btn btn-default"><%= link_to"購入履歴", end_user_order_path(current_end_user) %></button>
    </div>
    <div class="btn-group" role="group">
 	<button class="btn btn-default"><%= link_to"住所登録", new_end_user_address_path(current_end_user) %></button>
    </div>
    <div class="btn-group" role="group">
 	<button class="btn btn-default"><%= link_to"退会", end_user_check_path(current_end_user) %>
    </div>
   </div>
  </div>
<div class="container">
<div class="row slick_div">
	<ul class="slider">
		
    <li><a href="#"><img src="/images/image01.jpg" alt="image01" style=""></a></li>
    <li><a href="#"><img src="/images/image02.png" alt="image02" style=""></a></li>
    <li><a href="#"><img src="/images/image03.jpg" alt="image03" style=""></a></li>
    <!--
    <li><a href="#"><img src="/images/04.jpg" alt="image04"></a></li>
    <li><a href="#"><img src="/images/05.jpg" alt="image05"></a></li>
    <li><a href="#"><img src="/images/06.jpg" alt="image06"></a></li>
    <li><a href="#"><img src="/images/07.jpg" alt="image07"></a></li>
    <li><a href="#"><img src="/images/08.jpg" alt="image08"></a></li>
-->
</ul>
</div>
</div>

<script>

$('.slider').slick({
	autoplay:true,
	autoplaySpeed:1000,
	dots:true,
});
</script>

<style>
.slider{
    margin: 100px auto;
    width: 80%;
}
.slider img{
    height: auto;
    width: 100%;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}
</style>
