<h1 class="text-center">マイページ</h1>
 <div class="container">
  <div class="row">
   <div class="profile col-sm-9">
    <table class="table table-bordered">
		<thead>
		 <tr>
		  <th style="text-align:center;">名前</th>
		  <th style="text-align:center;">カナ</th>
		  <th style="text-align:center;">メールアドレス</th>
		</tr>
	    </thead>

	    <tbody>
		 <tr>
		  <td align="center">
			<%= current_end_user.kanzi_last_name+current_end_user.kanzi_first_name %>
		  </td>
		  <td td align="center">
		    <%= current_end_user.kana_last_name+""+current_end_user.kana_first_name %>
		  </td>
		  <td align="center">
			<%= current_end_user.email %>
		  </td>
		 </tr>
 	    </tbody>
     </table>
    </div>
   </div>
	 <button type="button" class="btn btn-default btn-lg center-block">
	 	<%= link_to"登録情報編集", edit_end_user_user_path(current_end_user) %>
     </button>




  <h1 class="text-center">住所情報</h1>
  <div class="address col-sm-9">
    <table class="table table-bordered">
		<thead>
		　<tr>
			<th style="text-align:center;">送り先名前</th>
			<th style="text-align:center;">郵便番号</th>
			<th style="text-align:center;">住所</th>
			<th style="text-align:center;">電話番号</th>
			<th style="text-align:center;"></th>
		　</tr>
	    </thead>

	    <tbody>
	       <% current_end_user.addresses.each do |address|%>
	        <tr>
	        <td align="center"> <%=address.send_name%> </td>
		    <td align="center"> <%=address.postal_code%> </td>
		    <td align="center"> <%=address.address%></td>
			<td align="center"> <%=address.phone_number%></td>
			<td align="center"><%= link_to "編集", edit_end_user_address_path(address) %></td>
	        </tr>
          <%end%>
         </tbody>
    </table>
  </div>


   <div class="btn-group text">
 	  <%= link_to"購入履歴", end_user_orders_path(current_end_user.id), class:"btn btn-default" %>
 	  <%= link_to"住所登録", new_end_user_address_path(current_end_user),class:"btn btn-default" %>
    <%= link_to"退会", end_user_user_check_path(current_end_user), class:"btn btn-default" %>

   </div>
 </div>



<style>
.profile {
		margin-left: 150px;
	}
	.address{
		margin-left: 150px;
	}
	.text4{
		margin-left: 470px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
</style>
