<div class="admin header">
      <div>
        <h2>管理者ページ</h2>
        
          <div>
            <p><%= link_to '商品', admin_products_path %></p>
          </div>

          <div>
            <p><%= link_to '新商品', new_admin_product_path %></p>
          </div>

          <div>
            <p><%= link_to '入荷処理', new_admin_arrival_path %></p>
          </div>

          <div>
            <p><%= link_to '入荷履歴', admin_arrivals_path %></p>
          </div>

          <div>
            <p><%= link_to '受注', admin_orders_path %></p>
          </div>

          <div>
            <p><%= link_to 'ユーザ', admin_users_path %></p>
          </div>


      </div>
    </div>
