<h1 class="text-center">入荷履歴</h1>

 <div class="container">
   <table class="table table-bordered">
	<thead>
	 <tr>
	  <th style="text-align:center;">日付</th>
	  <th style="text-align:center;">タイトル</th>
	  <th style="text-align:center;">アーティスト</th>
	  <th style="text-align:center;">個数</th>
	 </tr>
	</thead>
	<% @arrivals.each do |arrival| %>
	<tbody>
	 <tr>
	  <td align="center"><%= arrival.arrival_day %></td>
	  <td align="center"><%= arrival.product.title %></td>
	  <td align="center"><%= arrival.product.artist.artist_name %></td>
	  <td align="center"><%= arrival.sheet %></td>
	 </tr>
	</tbody>
	<% end %>
   </table>
   <div class="row text-center">
	<%= paginate @arrivals %>
   </div>
 </div>
