<h1>Admin::Arrivals#new 入荷処理</h1>


<div>
	<div>
		<%= form_for @arrival, url: admin_arrivals_path do |f| %>
			<table>
				<thead>
					<tr>
						<th>日付</th>
						<th>タイトル : アーティスト</th>
						<th></th>
						<th>個数</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><%= f.date_field :arrival_day %></td>
						<td><%= f.select :product_id, @select %></td>
						<td></td>
						<td><%= f.number_field :sheet %></td>
					</tr>
				</tbody>
			</table>
			<%= f.submit '入荷' %>
		<% end %>
	</div>
</div>


