

<h1 class="text-center">支払い方法選択</h1>
<h2 class="text-center">
<%= form_for(@method_of_payments, url: end_user_checks_new_path(@address.id)) do |form| %>
  <%= form.radio_button :method_of_payment, :銀行振込 %>
  <%= form.label :method_of_payment, "銀行振込"  %>
  <%= form.radio_button :method_of_payment, :クレジット払い%>
  <%= form.label :method_of_payment, "クレジット払い" %>
  <%= form.radio_button :method_of_payment, :代引き %>
  <%= form.label :method_of_payment, "代引き"  %>
<%= form.submit "決定" %>
<% end %>
</h2>







