<h1>EndUser::Pays#new</h1>
<p>Find me in app/views/end_user/pays/new.html.erb</p>

<h1>支払い方法選択</h1>

<%= form_for(@method_of_payments,url: new_end_user_cheeck_path) do |form| %>
  <%= form.radio_button :method_of_payment, :銀行振込 %>
  <%= form.label :method_of_payment, "銀行振込"  %>
  <%= form.radio_button :method_of_payment, :クレジット払い%>
  <%= form.label :method_of_payment, "クレジット払い" %>
  <%= form.radio_button :method_of_payment, :代引き %>
  <%= form.label :method_of_payment, "代引き"  %>
<%= form.submit "決定" %>
<% end %>







