<h1 class="text-center">ユーザ購入履歴</h1>
 <div class="container">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th style="text-align:center;">購入日</th>
            <th style="text-align:center;">購入額</th>
            <th style="text-align:center;">支払い方法</th>
            <th style="text-align:center;">送付先</th>
            <th style="text-align:center;">ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td align="center">

                <%= link_to end_user_order_path(order) do %>

                  <%= order.created_at.strftime('%m/%d') %>
                <% end %>
              </td>
              <td align="center">
                <% total = 0 %>
                <% order.order_details.each do |order_detail| %>
                  <% subtotal = include_tax(order_detail.price) * order_detail.sheet %>
                  <% total = total + subtotal %>
                <% end %>
                <%= total + order.delivery_charge %>
              </td>
              <td align="center">
                <%= order.method_of_payment %>
              </td>
              <td align="center">
                <%= order.address %>
              </td>
              <td align="center">
                <%= order.order_status %>
              </td>
            </tr>
          <% end %>
          <%= paginate @orders, class: "paginate" %>
        </tbody>
      </table>
    </div>