<h1 class="text-center">購入履歴詳細</h1>
 <h2 class="text-center">お届け先</h2>
  <div class="container">
   <table class="table table-bordered">
      <tr>
        <th style="text-align:center;">名前</th>
        <td align="center">
          <%= @order.send_name %>
        </td>
      </tr>
      <tr>
        <th style="text-align:center;">郵便番号</th>
        <td align="center">
          <%= @order.postal_code %>
        </td>
      </tr>
      <tr>
        <th style="text-align:center;">住所</th>
        <td align="center">
          <%= @order.address %>
        </td>
      </tr>
      <tr style="text-align:center;">
        <th>電話番号</th>
        <td align="center">
          <%= @order.phone_number %>
        </td>
      </tr>
  </table>

<h2>購入内容</h2>
  <table class="table table-bordered">
    <% @total = 0 %>
    <% @order_details.each do |order_detail| %>
      <tr>
        <th style="text-align:center;">タイトル</th>
        <td align="center">
          <%= order_detail.product.title %>
        </td>
      </tr>
      <tr>
        <th style="text-align:center;">アーティスト</th>
        <td align="center">
          <%= order_detail.product.artist.artist_name %>
        </td>
      </tr>
      <tr>
        <th style="text-align:center;">個数</th>
        <td align="center">
          <%= order_detail.sheet %>
        </td>
      </tr>
      <tr >
        <th style="text-align:center;">価格（税込）</th>
        <td align="center">
          <%= subtotal = order_detail.price * order_detail.sheet %>
        </td>
          <% @total = @total + subtotal %>
      </tr>
    <% end %>
  </table>

  <table class="table table-bordered">
      <tr>
        <th style="text-align:center;">送料</th>
        <td align="center">
          <%= @order.delivery_charge %>
        </td>
      </tr>
      <tr>
        <th style="text-align:center;">購入額（税込）</th>
        <td align="center">
          <%= @total + @order.delivery_charge %>
        </td>
      </tr>
  </table>
</div>