<!DOCTYPE html>
<html>
  <head>
    <title>Eamo</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="/slick/slick-theme.css" rel="stylesheet" type="text/css">
    <link href="/slick/slick.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/slick/slick.js"></script>

  </head>

  <body>
    <% if admin_signed_in?%>
      <header class="admin_header">
       <div class="list-group-item list-group-item-info">
        <h1 class="text-center">管理者ページ</h1>
         <div class="admin_heder">

          <div class="btn-group btn-group-justified" role="group">

           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"商品",admin_products_path,class:"glyphicon glyphicon-headphones" %></button>
           </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"新商品",new_admin_product_path,class:"glyphicon glyphicon-thumbs-up" %></button>
           </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"入荷処理",admin_arrivals_path,class:"glyphicon glyphicon-save" %></button>
            </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"入荷履歴",  new_admin_arrival_path,class:"glyphicon glyphicon-import"  %></button>
            </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"受注",admin_orders_path,class:"glyphicon glyphicon-cloud-upload"%></button>
            </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"ユーザ一覧",admin_users_path,class:"glyphicon glyphicon-user"%></button>
           </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"ログアウト",destroy_admin_session_path,method: :delete, class:"glyphicon glyphicon-user"%></button>
           </div>
          </div>
        </div>
      </div>
    </header>


  <% elsif end_user_signed_in?%>

    <header class="admin_header">
      <div class="list-group-item list-group-item-info">
       <h1 class="text-center">ユーザーページ</h1>

        <div class="user_heder">
          <div class="btn-group btn-group-justified" role="group">

           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"トップ",admin_products_path,class:"glyphicon glyphicon-music" %></button>
           </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"マイページ",mypage_path,class:"glyphicon glyphicon-home" %></button>
           </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"カート",end_user_carts_path,class:"glyphicon glyphicon-lock" %></button>
            </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"ログアウト",  destroy_end_user_session_path,method: :delete,class:"glyphicon glyphicon-log-out" %></button>
            </div>
          </div>
         </div>
       </div>
     </header>

            <% else%>
    <header class="admin_header">
      <div class="list-group-item list-group-item-info">
        <h1 class="text-center">ユーザーページ</h1>

           <button class="btn btn-default"><%=link_to"トップ",admin_products_path,class:"glyphicon glyphicon-music" %></button>
           </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"会員登録",   new_end_user_registration_path,class:"glyphicon glyphicon-home"%></button>
           </div>
           <div class="btn-group" role="group">
           <button class="btn btn-default"><%=link_to"ログイン",new_end_user_session_path,class:"glyphicon glyphicon-log-out" %></button>
           </div>
          </div>
         </div>
       </div>
     </header>

<% end %>



    <%= yield %>

    <footer class="page-footer font-small teal pt-4">
     <div class="list-group-item list-group-item-info">
      <div class="container-fluid">

            <h5 class="text-center">会社情報<br>
            会社名 （株）eamo<br>
            住所　東京都渋谷区神南1-1-1-1<br>
            電話番号 xxx-xxx-xxx</h5>
          </div>

            <div class="footer-copyright text-center">© 2018 nagano music Inc</div>
            <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     </div>
   </footer>
 </body>
</html>



