<!DOCTYPE html>
<html>
  <head>
    <title>Eamo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<header class="admin_header">
  <h1>管理者ページ</h1>
  <div class="admin_heder">
      <ul class="admin_menu">

          <li>
            <%=link_to"商品",admin_products_path %>
          </li>
          <li>
            <%=link_to"新商品",new_admin_product_path %>
          </li>
          <li>
            <%=link_to"入荷処理",admin_arrivals_path %>
          </li>
           <li>
            <%=link_to"入荷履歴",  new_admin_arrival_path %>
           </li>
           <li>
            <%=link_to"受注",admin_orders_path%>
          </li>
           <li>
            <%=link_to"ユーザ一覧",admin_users_path%>
          </li>
      </ul>
  </div>
</header>




  
    <%= yield %>


    <footer>
      <div class="company_information">
       <p class="infomatin">
        会社情報 <br>
        会社名<br>
        住所<br>
        電話番号</p>
      </div>


      <div class="conteiner">
        <div class="row">
          <div class="col-xs-3 col-xs-offset-9">
      <p class>©️ nagano music Inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
